<!-- {% extends "encyclopedia/layout.html" %} -->
<!-- {% load markdown_extras %} -->

{{entry}}

<!-- {% block title %}
    Encyclopedia
{% endblock %}

{% block body %} -->
    <!-- <h1>{{ title }}</h1>

     {{entry}}

    {% for post in entry %}
      <div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.body| markdown | safe }}</p>
      </div>
      <hr> -->
    <!-- {% endfor %}

{% endblock %} -->





<!-- {% for post in object_list %}
<div>
  <h2>{{ post.title }}</h2>
  <p>{{ post.body | markdown | safe }}</p>
</div>
<hr>
{% endfor %} -->
